.header {

    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    align-items: center;

}


.header button {
    height: auto;
    font-size: 16px;
    padding: 5px;
}